services:

  nginx:
    container_name: nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:80"
    depends_on:
      node_app:
        condition: service_healthy
    networks:
      - node-net
  node_app:
    container_name: node_app
    build:
      context:  ./nodeapp
      dockerfile: Dockerfile
    restart: always
    expose:
      - "5000"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:5000/health"]
      interval: 1m30s
      timeout: 20s
      retries: 3
      start_period: 30s
    depends_on:
      db:
        condition: service_healthy
    networks:
      - node-net

  db:
    container_name: mysql
    image: mysql:8.0
    restart: always
    environment:  
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 1m30s
      timeout: 20s
      retries: 3
      start_period: 30s
    networks:
      - node-net

networks:
  node-net:
    driver: bridge